<%- include('../top') -%>

    <h1>Student: <%= student.name %></h1>

    <div>ID: <%= student.id %></div>
    <div class="text-danger">Grade: <%= student.pass ? 'Pass' : 'Fail' %></div>

<%- include('../bottom') -%>
